@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fond et texte pour le mode clair */
  /* body {
    --bleu-royal: #003366;
    --jaune-link: #ffd700;
    background-color: var(--bleu-royal);
    color: white;
  } */

  /* a {
    color: var(--jaune-link);
    transition: color 0.3s;

    &:hover {
      color: #ae8f11; 
    }
  } */

  /* Styles pour le mode sombre */
  /* @media (prefers-color-scheme: dark) {
    body {
      --bleu-sombre: #121212; 
      --jaune-sombre-link: #ffb400; 
      background-color: var(--bleu-sombre);
      color: #f0f0f0; 
    }

    a {
      color: var(--jaune-sombre-link);

      &:hover {
        color: #ffcc00; 
      }
    }
  } */
}
